<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KhumaloCraft</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ST10026525.CLDV.Poe.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- Navigation bar will display on everypage! -->
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">
                KhumaloCraft Emporium
            </a>
            <div class="menu-toggle">
                <a href="javascript:void(0);" class="icon" onclick="ToggleMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="nav-link" id="navbarLinks">
                <!-- Page Links -->
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MyWork">My Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Footer  -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ST10026525.CLDV.Poe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
