@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft</h1>
    <p> 
        <h2> We are an Artisian Website with a passion for connecting people!</h2>
    </p>
</div>
