@{
    ViewBag.Title = "My Work";
    var userID = ViewData["userID"];
    var products = ViewData["ProductsID"] as List<ST10026525.CLDV.Poe.Models.productTable>;
}

<h2>Our Products</h2>

@if (userID != null)
{
   <p>User ID: @userID</p> 
}

@if (products != null && products.Count > 0)
{
    <p> Product Count: @products.Count</p>
}else
{
 <p>no products found</p>   
}

<h2>All Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Name</th>
        </tr>
    </thead>
</table>

